.curd{
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}
form input{
  width: 100%;
  margin-top: 20px;
  padding: 10px 20px;
}
form button{
  margin-top: 20px;
  padding: 10px 20px  ;
}

table{
  width: 100%;
  border-collapse: collapse; 
  border: 1px solid rgba(163, 108, 108, 0.103);
  margin-top: 2rem;
}
table th,table td{
  padding: 10px;
  border: 1px solid gray;
  text-align: center;
}