.curd{
  width: 500px;
  margin: 0 auto;
}

form input{
  width: 100%;
  margin-top: 10px;
  padding: 10px;
}

form button{
  width: 20%;
  margin-top: 20px;
  padding: 10px;
}



table{
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  border: 1px solid rgba(128, 128, 128, 0.521);
  padding: 10px;

}

table th ,table td{
  padding: 10px;
  border: 1px solid rgba(128, 128, 128, 0.432);
  text-align: center;
}